{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WorldSearch</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
          }
          ul li {
            display: block;
            width: 100%;
            text-decoration: none;
            padding: 5px;
          }
          ul li:hover {
            cursor:pointer;
            font-weight:bold;
            width:100%;
            background-color:lightblue;
          }
    </style>
    <script>
        {% if not user.is_authenticated %}
            window.location.href = "{% url 'accounts:login' %}";
        {% endif %}
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#search-input').keyup(function() {
                var searchText = $(this).val();

                // Send AJAX request to retrieve autosuggest options
                $.ajax({
                    url: '/search/search-autosuggest/',
                    method: 'GET',
                    data: {search_text: searchText},
                    success: function(data) {
                        // Clear previous suggestions
                        $('#suggestions').empty();

                        // Populate autosuggest options
                        for (var i = 0; i < data.length; i++) {
                            var suggestion = data[i];
                            $('#suggestions').append('<li name="suggested_text" class="list_item" onmousedown="fillText(event)">' + suggestion + '</li>');
                        }
                    }
                });
            });
        });
    </script>
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form">
                        {% csrf_token %}
                        <h2 class="form-title">WorldSearch</h2>
                        
                        {% if user.is_authenticated %}
                        <h3 class="form-title">Hello, {{user.first_name}}!</h3>
                        {% endif %}

                        <div class="form-group">
                            <input type="text" class="form-input" name="searchtext" id="search-input" placeholder="Search by city, country, or language"/>
                        </div>
                        <div class="form-group">
                            <ul class="list-group" id="suggestions">
                            </ul>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Search your world"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        <a href="/logout" class="loginhere-link">Logout</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        function fillText(e) {
            let targ;
            if (!e) {
                let e = window.event;
            }
            if (e.target) {
                targ = e.target;
            } else if (e.srcElement) {
                targ = e.srcElement;
            }
            let tname = targ.innerHTML;
            console.log(tname);
            document.getElementById("search-input").value = tname;
            $('#suggestions').empty();
        }
    </script>
    <!-- bootstrap -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
</body>
</html>